fastapi==0.118.0
uvicorn[standard]==0.37.0
python-multipart==0.0.20
python-dotenv==1.1.1
pydantic==2.11.9
faster-whisper==1.1.1
ctranslate2==4.6.0
numpy==2.3.3
requests==2.32.5
sounddevice==0.5.2
soundfile==0.13.1
Pillow==11.3.0
torch==2.8.0
transformers==4.56.1
sentencepiece==0.2.1
datasets==4.1.1
accelerate==1.10.1
evaluate==0.4.5
jiwer==4.0.0
librosa==0.11.0
python-docx==1.2.0
pyhwp==0.1b15
